@charset "utf-8";
/* CSS Document */

body
{
text-align:center;
background-color:#ffffcc;
}
h1
{
font-family:georgia;
font-style:italic;
font-size:26px;
letter-spacing:15px;
border-bottom:5px;
border-bottom-style:solid;
border-bottom-color:#FFCC00;
color:#FF6600;
padding:3px;
}
h2
{
font-family:verdana;
font-size:16px;
font-weight:bold;
}
h3
{
font-family:arial;
font-size:14px;
letter-spacing:10px;
background-color:#FFFF99;
color:#FF6600;
border-color:#FFCC00;
border-style:solid;
border-width:thin;
padding:3px;
}
p
{
font-family:verdana;
font-size:12px;
line-height:16px;
}
td
{
font-family:verdana;
font-size:12px;
line-height:16px;
}
ul
{
font-family:verdana;
font-size:12px;
line-height:16px;
}
a {color: black; text-decoration:none;}
a:link {color: black;text-decoration:none;}
a:visited {color: black;text-decoration:none;}
a:hover {color:#FF6600;text-decoration:none;}
a:active {color: #9900FF;text-decoration:none;}
#frame
{
width:800px;
margin-right:auto;
margin-left:auto;
margin-top:10px;
text-align:left;
background-image:url(middle.gif);
}
#nav
{
width:150px;
margin:0px 10px 0px 25px;
float:left;
}
#content
{
width:530px;
float:left;
}
#header
{
background-image:url(top.gif);
height:187px;
}
#footer
{
background-image:url(bottom.gif);
height:65px;
}
#nav_home
{
background-image:url(images/nav_02.gif);
width:150px;
height:37px;
}
#nav_home:hover
{
background-image:url(images/hover_02.gif);
}
#nav_parks
{
background-image:url(images/nav_04.gif);
width:150px;
height:37px;
}
#nav_parks:hover
{
background-image:url(images/hover_04.gif);
}
#nav_coasters
{
background-image:url(images/nav_06.gif);
width:150px;
height:37px;
}
#nav_coasters:hover
{
background-image:url(images/hover_06.gif);
}
#nav_top10
{
background-image:url(images/nav_08.gif);
width:150px;
height:37px;
}
#nav_top10:hover
{
background-image:url(images/hover_08.gif);
}
#nav_contact
{
background-image:url(images/nav_10.gif);
width:150px;
height:37px;
}
#nav_contact:hover
{
background-image:url(images/hover_10.gif);
}
img.floatLeft
{ 
float:left;
margin:1px;
display:inline;
margin:5px;
border-style:solid;
border-color:#FF9900;
border-width:thin;
}
img.floatRight
{
float:right;
margin:4px;
display:inline;
}
#coaster
{
font-family:tahoma;
font-style:normal;
font-size:20px;
letter-spacing:10px;
border-bottom:5px;
border-bottom-style:double;
border-bottom-color:#FFCC00;
color:#FF6600;
padding:3px;
}
#leftside
{
float: left;
width: 250px;
}
#rightside
{
margin-left: 10px;
float: left;
width: 250px;
height: 1%;
}
.score
{
font-size:18px;
font-weight:bold;
color:#FF6600;
}
.parkpic
{
margin:5px;
}
#parkinfo
{
font-family:arial;
font-weight:bold;
font-size:10px;
letter-spacing:10px;
text-align:right;
}
#rating
{
font-family:arial;
font-weight:bold;
font-size:18px;
text-align:left;
color:#666666;
}